.contactPage {
  background: url('../images/in/banner_contact.jpg') top center no-repeat;
  background-size: contain;
}
.contactPage .listBox {
  margin-bottom: clamp(30px, 5%, 70px);
}
.contactPage .listBox .item {
  display: flex;
  align-items: stretch;
  gap: 20px;
  border: #cccccc 1px solid;
  background: #dfe2e8;
}
@media screen and (max-width: 767px) {
  .contactPage .listBox .item {
    flex-direction: column;
    gap: 0;
  }
}
.contactPage .listBox .item a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .contactPage .listBox .item a {
    flex-direction: column;
  }
}
.contactPage .listBox .item a:hover .title {
  color: #009ee0;
}
.contactPage .listBox .item .titleF {
  align-self: stretch;
  display: flex;
  align-items: center;
  padding: 20px;
  background: #042d59;
  color: #fff;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.125rem;
}
@media screen and (max-width: 767px) {
  .contactPage .listBox .item .titleF {
    width: 100%;
    text-align: center;
    padding: 15px;
  }
}
.contactPage .listBox .item .picBox {
  padding: 10px;
  height: 170px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .contactPage .listBox .item .picBox {
    margin: 0 auto;
  }
}
.contactPage .listBox .item .infoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .contactPage .listBox .item .infoBox {
    padding: 0;
    text-align: center;
  }
}
.contactPage .listBox .item .subTitle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
}
.contactPage .listBox .item .title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  color: #042d59;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1000px) {
  .contactPage .listBox .item .title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .contactPage .listBox .item .title {
    font-size: 1.25rem;
  }
}
.contactPage .listBox .item .title span {
  color: #042d59;
}
.contactPage .listBox .item .del {
  width: 40px;
  aspect-ratio: 1;
  align-self: center;
  position: relative;
  margin: 0 30px 0 auto;
  border-radius: 5px;
  transition: all 0.3s ease;
  background: #f8b92a;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .contactPage .listBox .item .del {
    margin: 10px auto 30px;
  }
}
.contactPage .listBox .item .del::before,
.contactPage .listBox .item .del::after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 20px;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #042d59;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease;
}
.contactPage .listBox .item .del::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.contactPage .listBox .item .del:hover {
  background: #042d59;
}
.contactPage .listBox .item .del:hover::before,
.contactPage .listBox .item .del:hover::after {
  background: #fff;
}
.contactPage .titleBox {
  margin: 0 auto var(--contentPadding);
}
.contactPage .titleBox .title {
  font-size: var(--clamp48);
  font-weight: 800;
  line-height: 1.2;
  padding-bottom: 3px;
  position: relative;
  isolation: isolate;
  text-align: center;
  color: #042d59;
  margin-bottom: 20px;
}
.contactPage .titleBox .description {
  font-size: var(--clamp18);
  max-width: 900px;
  margin: 0 auto 4%;
  text-align: center;
  color: #545454;
}
.contactPage .bottomBox {
  margin: 0 auto;
  background: #fff;
  padding: var(--contentPadding);
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1000px) {
  .contactPage .bottomBox {
    /* margin: 0 calc(var(--contentPadding) * -1); */
    padding-bottom: 60px;
  }
}
.contactPage .bottomBox .formBox {
  max-width: 1100px;
  margin: 0 auto;
}
.contactPage .infoBox {
  display: flex;
  position: relative;
  padding: 8% 0 5%;
  isolation: isolate;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .contactPage .infoBox {
    flex-direction: column;
  }
}
.contactPage .infoBox::before {
  content: '';
  position: absolute;
  background: linear-gradient(to top, #cccfd7 80%, rgba(204, 207, 215, 0) 100%);
  display: block;
  inset: -100px 0 0;
  right: calc(var(--contentPadding) * -1);
  left: calc(var(--contentPadding) * -1);
  z-index: -1;
  border-radius: 0 0 10px 10px;
}
.contactPage .infoBox .box {
  width: calc((100% - 50px * (2 - 1)) / 2);
}
@media screen and (max-width: 767px) {
  .contactPage .infoBox .box {
    width: 100%;
    margin-bottom: 30px;
  }
}
.contactPage .infoBox .box .title {
  color: #042d59;
  font-size: var(--clamp54);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
}
.contactPage .infoBox .box .info {
  color: #042d59;
  font-size: var(--clamp21);
  font-weight: 600;
}
.contactPage .infoBox .box .address {
  margin-bottom: 30px;
}
.contactPage .infoBox .box a {
  color: #042d59;
}
.contactPage .infoBox .box a:hover {
  color: #009ee0;
}
.contactPage .infoBox .map {
  width: 450px;
  height: 450px;
  margin: 0 0 0 auto;
  padding: 18px;
  border-radius: 40px 0 40px 0;
  background: #042d59;
  line-height: 0;
}
@media screen and (max-width: 1000px) {
  .contactPage .infoBox .map {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .contactPage .infoBox .map {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
  }
}
.contactPage .infoBox .map iframe {
  width: 100%;
  height: 100%;
  border-radius: 31px 0 31px 0;
}

.pageBtnBox .send {
  padding: 20px 30px 18px;
  margin: 0 auto;
}

.contactOk section {
  text-align: center;
}
.contactOk .title {
  max-width: 570px;
  margin: 0 auto;
  line-height: 1.2;
  font-size: 3rem;
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: #042d59;
}
@media screen and (max-width: 1000px) {
  .contactOk .title {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 767px) {
  .contactOk .title {
    font-size: 1.5rem;
  }
}
.contactOk .unitTitleBox .title::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 60px;
  height: 5px;
  transform: translateX(-50%);
  display: block;
  background: #042d59;
}
.contactOk .txt {
  color: #333333;
  font-size: 1.125rem;
}
@media screen and (max-width: 1000px) {
  .contactOk .txt {
    font-size: 1rem;
  }
}
.contactOk .subTitle {
  color: #f8b92a;
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: clamp(20px, 5%, 50px);
}
@media screen and (max-width: 1000px) {
  .contactOk .subTitle {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .contactOk .subTitle {
    font-size: 1.25rem;
  }
} /*# sourceMappingURL=contact.css.map */
